/* svg background for mobile */
.hero-container {
  background-image: url('./components/Hero/HeroSVGmobile.svg');
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

/* wider version of svg for desktop */
/* @media (min-width: 600px) { */
@media (min-width: 1000px) {
  .hero-container {
    background-image: url('./components/Hero/HeroSVG.svg');
    background-size: cover;
    height: 100vh;
    width: 100vw;
  }
}
